@define-color foreground #EBDBB2;
@define-color background #1D2021;
@define-color cursor #EBDBB2;

@define-color color0 #282828;
@define-color color1 #CC241D;
@define-color color2 #98971A;
@define-color color3 #D79921;
@define-color color4 #458588;
@define-color color5 #B16286;
@define-color color6 #689D6A;
@define-color color7 #A89984;
@define-color color8 #928374;
@define-color color9 #FB4934;
@define-color color10 #B8BB26;
@define-color color11 #FABD2F;
@define-color color12 #83A598;
@define-color color13 #D3869B;
@define-color color14 #8EC07C;
@define-color color15 #EBDBB2;

.control-center {
  background: @background;
  padding: 16px;
}
.widget-title > button {
  color:@color7;
  background: @background;
  border: 1px solid alpha(@color7, 0.5);
  border-radius: 0.6rem;
}
.widget-title > button:hover {
  opacity: 0.7;
}

/* DND widget */
.widget-dnd {}

.widget-dnd > switch {
  border-radius: 9999px;
  background: @noti-bg;
  border: 2px solid @noti-border-color;
}
.widget-dnd > switch:checked {
  background: @color5;
}
.widget-dnd > switch slider {
  background: @noti-bg-hover;
  border-radius: 9999px;
}

/* Mpris widget */
.widget-mpris {
  font-family: "JetBrains Mono Nerd Font";
  /* The parent to all players */
  border: 0px;
}
.widget-mpris-player {
  padding: 14px;
  margin: 14px;
  background-color: @mpris-album-art-overlay;
  border-radius: 20px;
}
.widget-mpris-album-art {
  border-radius: 12px;
}
.widget-mpris-player button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  background: @noti-bg-hover;
}
.widget-mpris > box > button {
  /* Change player side buttons */
}
.widget-mpris > box > button:disabled {
  /* Change player side buttons insensitive */
}
.widget-mpris-title {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 1.1rem;
}

.topbar-buttons > button {
  /* Name defined in config after # */
  border: none;
  background: transparent;
  background: rgba(69, 133, 136, 1);
}

/* Volume widget */
trough {
  border-radius: 20px;
  background: @noti-bg;
  outline: none;
  margin-left: 10px;
}

trough highlight {
  /* ´trough´ is the background of the slider, ´highlight´ is the actual slider */
  padding-top: 1px;
  background: @color4;
  border: 1px solid @color4;
  border-radius: 20px;
}

trough slider {
  padding: 1px;
  background: @color4;
  border: 1px solid @color4;
}
trough slider:hover {
  padding: 1px;
  background: @color4;
}

.widget-volume {
  background-color: alpha(@background, 0.0);
}

.widget-backlight {
  background-color: alpha(@background, 0.0);
  margin-top: -8px;
}

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: alpha(@color14, 0.5); 
}

.notification-row .notification-background {
  padding: 6px 12px;
}

.notification-row .notification-background .close-button {
  /* The notification Close Button */
  background: alpha(@noti-close-bg, 0.5);
  color: alpha(@color15, 1.0); /* @text-color */
  border-radius: 9999px;
  margin-top: 5px;
  min-width: 24px;
  min-height: 24px;
}

.notification-row .notification-background .close-button:hover {
  background: alpha(@noti-close-bg-hover, 0.5); 
  transition: opacity 0.15s ease-in-out;
}

.notification-row .notification-background .notification {
  /* The actual notification */
  border-radius: 12px;
  border: 2px solid alpha(@color8, 0.5); /* @border */
  padding: 8px;
  transition: background 0.15s ease-in-out;
  background: alpha(@color0, 0.5); /* @noti-bg */
}

.notification-row .notification-background .notification.low {
  /* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
  /* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
  /* Critical Priority Notification */
}

.notification-row .notification-background .notification .notification-action,
.notification-row .notification-background .notification .notification-default-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  color: alpha(@color15, 1.0); /* @text-color */
  transition: background 0.15s ease-in-out;
}

.notification-row .notification-background .notification .notification-action:hover,
.notification-row .notification-background .notification .notification-default-action:hover {
}

.notification-row .notification-background .notification .notification-default-action {
  /* The large action that also displays the notification summary and body */
  border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  /* When alternative actions are visible */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: 12px;
  padding: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  border-radius: 100px;
  /* Size in px */
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: alpha(@color15, 1.0); /* @text-color */
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  /* Notification time-ago */
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: alpha(@color15, 1.0); /* @text-color */
  text-shadow: none;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: alpha(@color15, 1.0); /* @text-color */
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  /* The optional notification progress bar */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  /* The "extra" optional bottom notification image */
  margin-top: 4px;
  background-color: alpha(@color15, 0.5);
  border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  /* The inline reply section */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: alpha(@color1, 0.5); /* @noti-bg-darker */
  color: alpha(@color15, 1.0); /* @text-color */
  caret-color: alpha(@color15, 1.0); /* @text-color */
  border: 1px solid alpha(@color8, 0.5); /* @border */
  border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: alpha(@color0, 0.5); /* @noti-bg */
  border: 1px solid alpha(@color8, 0.5); /* @border */
  border-radius: 12px;
  color: alpha(@color15, 1.0); /* @text-color */
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  background: initial;
  color: alpha(@color7, 0.5); /* @text-color-disabled */
  border: 1px solid alpha(@color8, 0.5); /* @border */
  border-color: transparent;
}

.notification-row .notification-background .notification .notification-default-action .inline-reply .inline-reply-button:hover {
  background: alpha(@noti-bg-hover, 0.5); /* @noti-bg-hover */
}

.notification-row .notification-background .notification .notification-action {
  /* The alternative actions below the default action */
  border-top: 1px solid alpha(@color8, 0.5); /* @border */
  border-radius: 0px;
  border-right: 1px solid alpha(@color8, 0.5); /* @border */
}

.notification-row .notification-background .notification .notification-action:first-child {
  /* Add bottom border radius to eliminate clipping */
  border-bottom-left-radius: 12px;
}

.notification-row .notification-background .notification .notification-action:last-child {
  border-bottom-right-radius: 12px;
  border-right: none;
}

.notification-group {
  /* Styling only for Grouped Notifications */
  outline: none;
}

.notification-group.low {
  /* Low Priority Group */
}

.notification-group.normal {
  /* Normal Priority Group */
}

.notification-group.critical {
  /* Critical Priority Group */
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  margin: 0 16px 16px;
  color: alpha(@color15, 1.0); /* @text-color */
}

.notification-group .notification-group-headers {
  /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
  color: alpha(@color15, 1.0); /* @text-color */
}

.notification-group .notification-group-headers .notification-group-header {
  color: alpha(@color15, 1.0); /* @text-color */
}

.notification-group .notification-group-buttons {
  /* Notification Group Buttons */
}

.notification-group.collapsed .notification-row .notification {
  background-color: alpha(@color0, 1); /* @noti-bg-opaque */
}

.notification-group.collapsed .notification-row:not(:last-child) {
  /* Top notification in stack */
  /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 0;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background-color: @color0;
}
